@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    border: none;
}

:root {
    --primary-color: #75a3ff;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--primary-color);
}

header {
    background-color: white;
    padding: 32px;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
}

.links {
    font-size: 20px;
}

.links a + a {
    margin-left: 32px;
}

.links a {
    text-decoration: none;
    color: black;
    position: relative;

}

.links a:hover {
    color: var(--primary-color);
}

.links a.active {
    font-weight: bold;
    color: var(--primary-color)
}

.links a::after {
    content: "";
    width: 0;
    height: 2px;
    background-color: var(--primary-color);
    position: absolute;
    left: 0;
    bottom: -4px;
}

.links a:hover::after {
    width: 100%;
    transition: width 100ms ease-in-out;
}

/* CARD */
.card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: white;
    width: 800px;
    min-height: 400px;
    margin: 32px auto;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.4);
    animation-name: up 200ms ease;
}

@keyframes up {
    from {
        opacity: 0;
        transform: translateY(15px);

    }
    to{
        opacity: 1;

    }
}

/* DETAILS */

.details {
    padding: 24px;
}

.details .frames {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding: 12px 0;
}

.details .frames:last-child {
    border: none;
}

.details h3,
.details .frames div:nth-child(1){
    color: #777;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0.7px;
    line-height: 18px;
}

.details .frames div:nth-child(2){
    color: #555;
    font-weight: bold;
    font-size: 18px;
}

.details h3 {
    text-transform: uppercase;
    font-weight: bold;
    color: var(--primary-color);
}

.details .frames span{
    background-color: yellow;
    color: #777;
    padding: 8px 12px;
    border-radius: 16px;
    font-size: 12px;
    text-transform: uppercase;
    margin-right: 8px;
    margin-top: 8px;
    display: inline-block;
}

/* FORM */

input {
    width: 100%;
    outline: none;
    color: #555;
    font-weight: bold;
    font-size: 18px;
}

input[type="radio"] { 
    width: initial;
    margin-right: 4px;
}

input::placeholder {
    font-size: 16px;
    font-weight: normal;

}

button[type="submit"],
a.button {
    padding: 8px 32px;
    background-color: var(--primary-color);
    color: white;
    border-radius: 4px;
    margin-top: 32px;
    width: 100%;
    font-size: 16px;
}

a.button {
    display: block;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
}

